- if session['board'].board_dimension == 4
  .board4x4
    - session['board'].board.each do |cell|
      %form{:action => "/turn", :method => "post"}
        %input{:type => "hidden", :name => "player_move", :id => "#{cell}", :value => "#{cell}"}
        %input.cell{:type => "submit", :value => "#{cell}" }
- else
  .board
    - session['board'].board.each do |cell|
      %form{:action => "/turn", :method => "post"}
        %input{:type => "hidden", :name => "player_move", :value => "#{cell}"}
        %input.cell{:type => "submit", :id => "cell#{cell}", :value => "#{cell}" }
    
- if session['board'].game_over?
  %h3= "#{session['board'].game_over_message}"
  %a{:href => "/"} Click to play again!
  :javascript
    disableButton();