!!! 5
%html
  %head
    %title Tic Tac Toe
    %link(rel="stylesheet" href="stylesheets/styles.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="javascript/application.js")
  %h1 Welcome to Tic Tac Toe!
  %body
    .board
      - game.board.board.each do |cell|
        %form{:action => "/board.haml", :method => "post"}
          %input{:type => "hidden", :name => "game_id", :value => game.id}
          %input{:type => "hidden", :name => "player_move", :value => "#{cell}"}
          %input.cell{:type => "submit", :id => "cell#{cell}", :value => "#{cell}" }

    - if game.board.game_over?
      %h3= "#{game.board.game_over_message}"
      %a{:href => "/"} Click to play again!
      :javascript
        disableButton();
